* {
  box-sizing: border-box;
}
:root {
  font-size: 2vh;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 80rem;
  font-size: 1rem;
  font-family: monospace;
  line-height: 1.2em;
  background: #fff;
  color: #000;
}

img {
  width: 100%;
  max-width: 100%;
}

header {
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1.8rem;
}

header figure {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 100%;
}

main {
  column-count: 3;
  padding: 1rem;
}

main article {
  width: 100%;
  padding: 1rem;
  transition: all 0.2s;
  cursor: pointer;
  transition: 1s;
}

main article:hover {
  z-index: 10;
  opacity: 1;
}

.preview {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: white;
  font-size: 1.2rem;
}

#preview {
  position: fixed;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
}
#preview.hidden {
  transform: translate(0, -100vh);
}

.preview img {
  width: auto;
  max-height: 100%;
  margin: 0.5rem;
}

.preview a:link,
.preview a:hover,
.preview a:visited,
.preview a:active {
  text-decoration: none;
  color: black;
}

article[data-visible="true"] {
  opacity: 1;
  transform: translateY(0)
}
article[data-visible="false"] {
  opacity: 0;
  transform: translateY(4em)
}

@media only screen and (min-width: 640px) {
  :root {
    font-size: 2vw;
  }
  .preview {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    font-size: 2vw;
  }
  .preview {
    font-size: 1rem;
  }
}
